@use "../global/variables.scss";

.about {
  padding: 0 30px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 225px;
  }
}

.about__title {
  margin-bottom: 28px;
  font-weight: 700;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 40px;
  }
}

.about__list {
  display: grid;
  gap: 29px 0;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 1px;
    max-width: 100%;
  }
}

.about__item {
  position: relative;
  padding-top: 54px;
  font-weight: 700;
  line-height: 20px;
  color: variables.$black;

  @media (min-width: variables.$tablet-width) {
    padding-top: 55px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-right: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--ecology {
    @media (max-width: variables.$mobile-width-only) {
      padding-top: 55px;
      padding-right: 63px;
    }

    @media (min-width: variables.$tablet-width) {
      padding-right: 102px;
    }

    @media (min-width: variables.$desktop-width) {
      padding-right: 118px;
    }

    &::before {
      top: 0;
      left: 8px;
      width: 33px;
      height: 38px;
      background-image: url("../img/index/about-ecology.svg");
    }
  }

  &--price {
    @media (max-width: variables.$mobile-width-only) {
      padding-right: 36px;
    }

    @media (min-width: variables.$tablet-width) {
      order: 2;
    }

    &::before {
      top: 0;
      left: 0;
      width: 47px;
      height: 27px;
      background-image: url("../img/index/about-price.svg");
    }
  }

  &--like {
    @media (max-width: variables.$mobile-width-only) {
      padding-right: 55px;
    }

    @media (min-width: variables.$tablet-width) {
      order: 3;
    }

    &::before {
      top: 4px;
      left: 7px;
      width: 34px;
      height: 27px;
      background-image: url("../img/index/about-like.svg");
    }
  }

  &--knitting {
    @media (max-width: variables.$mobile-width-only) {
      padding-right: 4px;
    }

    @media (min-width: variables.$desktop-width) {
      padding-right: 48px;
    }

    &::before {
      top: 2px;
      left: 3px;
      width: 35px;
      height: 34px;
      background-image: url("../img/index/about-knitting.svg");
    }
  }

  &--domestic {
    @media (max-width: variables.$mobile-width-only) {
      padding-top: 53px;
    }

    @media (min-width: variables.$tablet-width) {
      order: 2;
    }

    &::before {
      top: 3px;
      left: -5px;
      width: 55px;
      height: 23px;
      background-image: url("../img/index/about-domestic.svg");
    }
  }

  &--gift {
    @media (max-width: variables.$mobile-width-only) {
      padding-top: 52px;
      padding-right: 9px;
    }

    @media (min-width: variables.$tablet-width) {
      order: 3;
    }

    @media (min-width: variables.$desktop-width) {
      padding-right: 55px;
    }

    &::before {
      top: 2px;
      left: 3px;
      width: 33px;
      height: 32px;
      background-image: url("../img/index/about-gift.svg");
    }
  }
}
