@use "../global/variables.scss";

.button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--primary {
    max-width: 400px;
    padding: 14px;
    font-size: 18px;
    line-height: 20px;
    color: variables.$gray--darken;
    background-color: variables.$white;
    border: 2px solid variables.$gray--darken;

    &:hover,
    &:focus {
      color: variables.$white;
      background-color: variables.$gray--darken;
    }

    &:active {
      color: rgba(variables.$white, 0.3);
    }
  }

  &--secondary {
    padding: 18px;
    font-size: 17px;
    line-height: 16px;
    color: variables.$white;
    background-color: variables.$blue;
    border: none;

    &:hover,
    &:focus {
      color: variables.$blue;
      background-color: variables.$white;
      box-shadow: inset 0 0 0 2px variables.$blue;
    }

    &:active {
      color: rgba(variables.$blue, 0.3);
    }
  }

  &--form {
    display: block;
    max-width: 400px;
    padding: 16px;
    font-size: 17px;
    line-height: 16px;
    color: variables.$gray--darken;
    background-color: variables.$white;
    border: 2px solid variables.$gray--darken;

    &:hover,
    &:focus {
      color: variables.$white;
      background-color: variables.$gray--darken;
    }

    &:active {
      color: rgba(variables.$white, 0.3);
    }
  }
}
