@use "../global/variables.scss";

.control {
  display: flex;
  align-items: center;
  gap: 19px;
  cursor: pointer;

  &--checkbox {
    gap: 23px;
  }

  @media (min-width: variables.$tablet-width) {
    gap: 29px;
  }
}

.control__label {
  font-weight: 700;
  line-height: 18px;
  color: variables.$black;

  @media (min-width: variables.$tablet-width) {
    font-size: 19px;
  }
}

.control__mark {
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  border: 2px solid variables.$gray--darken;
}

.control:hover .control__mark,
.control__input:focus + .control__mark {
  border-color: variables.$blue--light;
}

.control:active .control__mark {
  border-color: rgba(variables.$blue--light, 0.3);
}

.control--radio .control__mark {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @media (min-width: variables.$tablet-width) {
    width: 49px;
    height: 49px;
  }
}

.control--radio .control__input:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 18px;
  height: 18px;
  margin: auto;
  border-radius: 50%;
  background-color: variables.$blue--light;

  @media (min-width: variables.$tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.control--checkbox .control__mark {
  width: 38px;
  height: 38px;

  @media (min-width: variables.$tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.control--checkbox .control__input:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  left: 0;
  width: 10px;
  height: 20px;
  margin: 0 auto;
  border-right: 2px solid variables.$black;
  border-bottom: 2px solid variables.$black;
  transform: rotate(45deg);

  @media (min-width: variables.$tablet-width) {
    top: 6px;
    width: 14px;
    height: 27px;
  }
}
