@use "../global/variables.scss";

.contacts {
  @media (min-width: variables.$desktop-width) {
    display: grid;
    grid-template-columns: 524px auto;
    padding: 0 50px;
  }
}

.contacts__wrapper {
  padding: 0 30px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0;
  }
}

.contacts__title {
  margin-bottom: 28px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 39px;
    padding: 22px 47px 9px 0;
    background-image: url("../img/index/flag.svg");
    background-repeat: no-repeat;
    background-position: right 3px top -2px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: 60px;
    margin-bottom: 29px;
    padding: 17px 0 7px 174px;
    background-position: left 64px top 0;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 51px;
  margin-bottom: 62px;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    margin-bottom: 48px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 81px;
    margin-left: 175px;
  }
}

.contacts__item {
  display: flex;
  align-items: flex-start;
  gap: 33px;

  @media (min-width: variables.$tablet-width) {
    gap: 25px;
  }
}

.contacts__text {
  margin: 0;
  font-style: normal;
  font-size: 14px;

  @media (min-width: variables.$tablet-width) {
    font-size: 17px;
  }
}

.contacts__email {
  position: relative;
  font-style: normal;
  font-size: 14px;
  color: variables.$gray--darken;
  text-decoration: none;

  &:hover,
  &:focus {
    color: variables.$blue--darken;
    outline: none;
  }

  &:active {
    &::after {
      background-color: rgba(variables.$blue--light, 0.1);
    }
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 17px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: variables.$blue--light;

    @media (min-width: variables.$tablet-width) {
      bottom: 0;
    }

    @media (min-width: variables.$desktop-width) {
      bottom: -4px;
    }
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 454px;
  margin-bottom: 42px;
  border: none;

  @media (min-width: variables.$tablet-width) {
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin-bottom: 0;
  }
}

.contacts__write {
  display: block;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    max-width: 230px;
    font-size: 17px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 0;
    margin-left: 175px;
  }
}
