@use "../global/variables.scss";

.copyright {
  display: flex;
  justify-content: center;
  gap: 27px;

  @media (max-width: variables.$mobile-width-only) {
    padding: 21px 0 22px;
    border-top: 1px solid variables.$gray;
  }

  @media (min-width: variables.$desktop-width) {
    gap: 30px;
  }
}

.copyright__title {
  margin: 0;
  margin-top: 8px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: variables.$black;
}

.copyright__link {
  display: flex;

  &:focus {
    outline: none;
  }
}

.copyright__logo-htmlacademy {
  color: variables.$blue;

  .copyright__link:hover &,
  .copyright__link:focus & {
    color: variables.$blue--darken;
  }

  .copyright__link:active & {
    opacity: 0.3;
  }
}
