@use "../global/variables.scss";

.form {
  padding: 17px 30px 55px;

  @media (min-width: variables.$tablet-width) {
    padding: 54px 0 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 99px 0 50px;
  }
}

.form__title {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.form__legend {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
