@use "../global/variables.scss";
@use "../global/base.scss";

.main-index__page-header {
  margin-bottom: 31px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 54px;
  }
}

.main-index__featured {
  margin-bottom: 31px;

  @include base.container;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 68px;
  }
}

.main-index__about {
  margin-bottom: 61px;

  @include base.container;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 90px;
  }
}

.main-index__reviews {
  margin-bottom: 38px;

  @include base.container;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 71px;
  }
}

.main-index__contacts {
  margin-bottom: 39px;

  @include base.container;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 103px;
  }
}
