@use "../global/variables.scss";
@use "../global/base.scss";

.main-catalog__page-header {
  margin-bottom: 30px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 111px;
  }
}

.main-catalog__products {
  margin-bottom: 30px;

  @include base.container;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 57px;
  }
}

.main-catalog__production {
  margin-bottom: 58px;

  @include base.container;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 103px;
  }
}
