@use "../global/variables.scss";
@use "../global/base.scss";

.main-nav {
  position: absolute;
  z-index: 10;
  display: grid;
  width: 100%;
  background-color: variables.$white;

  @media (min-width: variables.$tablet-width) {
    position: relative;
    grid-template-columns: 48% 52%;
    background-color: variables.$gray--lightest;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: 1fr max-content 1fr;
  }

  &--nojs {
    @media (max-width: variables.$mobile-width-only) {
      position: static;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 82px;
  height: 78px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  .main-nav--nojs & {
    display: none;
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.main-nav--mobile-menu-closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    background-color: variables.$gray--darkest;
    box-shadow: 0 -6px 0 variables.$gray--darkest,
      0 6px 0 variables.$gray--darkest;
    transform: translateX(-50%) translateY(-50%);
  }
}

.main-nav--mobile-menu-opened .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 2px;
    background-color: variables.$black;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 2px;
    background-color: variables.$black;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
}

.main-nav__list-wrapper {
  &--site-list {
    @media (min-width: variables.$desktop-width) {
      background-color: variables.$white;
      box-shadow: inset 0 -1px 0 variables.$gray--light;
    }
  }

  &--user-list {
    @media (min-width: variables.$tablet-width) {
      order: -1;
      background-color: variables.$white;
      box-shadow: inset 0 -1px 0 variables.$gray--light;
    }

    @media (min-width: variables.$desktop-width) {
      order: 0;
    }
  }

  &--promo-list {
    @media (max-width: variables.$max-tablet-width) {
      @include base.visually-hidden;
    }
  }
}

.main-nav__logo-wrapper {
  display: flex;
  order: -1;

  @media (min-width: variables.$tablet-width) {
    order: -2;
    padding-left: 50px;
    background-color: variables.$white;
    box-shadow: inset 0 -1px 0 variables.$gray--light;
  }

  @media (min-width: variables.$desktop-width) {
    order: 0;
    padding-left: 0;
  }
}

.main-nav__list {
  max-width: 675px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  &--site-list {
    @media (min-width: variables.$tablet-width) {
      gap: 0 37px;
      padding-right: 13px;
      padding-left: 50px;
    }

    @media (min-width: variables.$desktop-width) {
      gap: 0 33px;
      margin-left: auto;
      padding-right: 76px;
    }
  }

  &--user-list {
    @media (min-width: variables.$tablet-width) {
      align-items: center;
      justify-content: space-between;
      padding-right: 50px;
    }

    @media (min-width: variables.$desktop-width) {
      gap: 0 33px;
      margin-right: auto;
      padding-left: 100px;
    }
  }

  &--promo-list {
    @media (min-width: variables.$tablet-width) {
      gap: 0 63px;
      padding-left: 50px;
    }

    @media (min-width: variables.$desktop-width) {
      gap: 0 20px;
      margin-left: auto;
      padding-right: 93px;
      padding-left: 50px;
    }
  }
}

.main-nav__item {
  @media (max-width: variables.$mobile-width-only) {
    display: none;
    width: 100%;
    box-shadow: 0 1px 0 variables.$gray--light,
      inset 0 1px 0 variables.$gray--light;
  }

  @media (min-width: variables.$tablet-width) {
    flex-grow: 1;
  }

  &--catalog {
    @media (min-width: variables.$desktop-width) {
      box-shadow: inset -1px 0 0 variables.$gray--light;
    }
  }

  &--search {
    @media (min-width: variables.$tablet-width) {
      flex-grow: 0;
      width: 84px;
      height: 89px;
      box-shadow: inset 1px 0 0 variables.$gray--light,
        inset -1px 0 0 variables.$gray--light;
    }

    & span {
      @media (min-width: variables.$tablet-width) {
        @include base.visually-hidden;
      }
    }
  }

  &--cart {
    @media (min-width: variables.$tablet-width) {
      flex-grow: 0;
    }
  }

  &--mobile-menu {
    @media (max-width: variables.$mobile-width-only) {
      display: flex;
    }
  }

  .main-nav--mobile-menu-closed &--mobile-menu {
    @media (max-width: variables.$mobile-width-only) {
      display: none;
    }
  }

  .main-nav--mobile-menu-opened &--mobile-menu,
  .main-nav--nojs &--mobile-menu {
    @media (max-width: variables.$mobile-width-only) {
      display: flex;
      padding: 0 30px;
      box-sizing: border-box;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: variables.$black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(variables.$black, 0.6);
    outline: none;
  }

  &:active {
    color: rgba(variables.$black, 0.3);
  }

  @media (max-width: variables.$mobile-width-only) {
    min-width: 260px;
    margin: 0 auto;
    padding: 28px 0 27px 45px;
    font-size: 17px;
  }

  &--catalog {
    @media (min-width: variables.$desktop-width) {
      padding: 33px 37px 32px 0;
      font-size: 17px;
    }
  }

  &--form {
    @media (min-width: variables.$desktop-width) {
      padding: 33px 0 32px 0;
      font-size: 17px;
    }
  }

  &--search {
    @media (min-width: variables.$tablet-width) {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &--cart {
    @media (min-width: variables.$tablet-width) {
      padding-left: 52px;
      font-size: 17px;
    }
  }
}

.main-nav__logo {
  display: flex;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  &:not([href]) {
    pointer-events: none;
  }

  @media (max-width: variables.$mobile-width-only) {
    margin: 0 auto;
  }
}

.main-nav__logo-image {
  display: block;
  width: 86px;
  height: 79px;

  @media (min-width: variables.$tablet-width) {
    width: 113px;
    height: 89px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 149px;
  }
}

.main-nav__text {
  display: block;
  max-width: 675px;
  margin: 0;
  padding: 20px 50px 20px 0;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: variables.$black;
  text-align: end;

  @media (max-width: variables.$mobile-width-only) {
    @include base.visually-hidden;
  }

  @media (min-width: variables.$desktop-width) {
    grid-column: 3 / 4;
  }
}

.main-nav__search-icon {
  color: rgba(variables.$black, 0.2);
  position: absolute;
  left: 0;

  .main-nav__link:hover &,
  .main-nav__link:focus & {
    color: variables.$blue;
  }

  .main-nav__link:active & {
    color: rgba(variables.$blue, 0.3);
  }

  @media (min-width: variables.$tablet-width) {
    position: static;
    display: block;
    margin: auto;
  }
}

.main-nav__cart-icon {
  color: rgba(variables.$black, 0.2);
  position: absolute;
  left: 0;

  .main-nav__link:hover &,
  .main-nav__link:focus & {
    color: variables.$blue;
  }

  .main-nav__link:active & {
    color: rgba(variables.$blue, 0.3);
  }
}
