@use "../global/variables.scss";

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: variables.$white;
  text-decoration: none;

  &--interior {
    background-color: variables.$blue;
  }

  &--toys {
    background-color: variables.$blue--dark;
  }
}
