@use "../global/variables.scss";

.menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    flex-direction: row;
    padding: 0 50px;
  }
}

.menu__item {
  @media (min-width: variables.$tablet-width) {
    flex-grow: 1;
  }
}

.menu__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: variables.$white;
  text-decoration: none;

  &--interior {
    background-color: variables.$blue;
  }

  &--toys {
    background-color: variables.$blue--dark;
  }
}
