@use "../global/variables.scss";
@use "../global/base.scss";

.page-header {
  position: relative;
  background-color: variables.$gray--lightest;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-image: url("../img/index/zigzag-fill.svg");
    background-repeat: repeat-x;

    @media (min-width: variables.$tablet-width) {
      height: 24px;
      background-size: 38.5px 24px;
    }

    @media (min-width: variables.$desktop-width) {
      height: 34px;
      background-size: 57.5px 34px;
    }
  }

  &--index-background-image {
    &::after {
      @media (min-width: variables.$desktop-width) {
        left: -50px;
        background-size: 62.5px 34px;
      }
    }

    @media (max-width: variables.$mobile-width-only) {
      background-image: image-set(url("../img/index/index-header-bg-mobile@2x.webp") 2x,
          url("../img/index/index-header-bg-mobile.webp") 1x,
          url("../img/index/index-header-bg-mobile@2x.jpg") 2x,
          url("../img/index/index-header-bg-mobile.jpg") 1x);
      background-position: 50% -17px;
    }

    @media (min-width: variables.$tablet-width) {
      background-image: image-set(url("../img/index/index-header-bg-tablet@2x.webp") 2x,
          url("../img/index/index-header-bg-tablet.webp") 1x,
          url("../img/index/index-header-bg-tablet@2x.jpg") 2x,
          url("../img/index/index-header-bg-tablet.jpg") 1x);
      background-position: 50% -65px;
    }

    @media (min-width: variables.$desktop-width) {
      background-image: image-set(url("../img/index/index-header-bg-desktop@2x.webp") 2x,
          url("../img/index/index-header-bg-desktop.webp") 1x,
          url("../img/index/index-header-bg-desktop@2x.jpg") 2x,
          url("../img/index/index-header-bg-desktop.jpg") 1x);
    }
  }
}

.page-header__title {
  margin: 0;
  padding: 74px 30px;
  font-weight: 700;
  font-size: 27px;
  color: variables.$black;
  text-align: center;

  @include base.container;

  @media (min-width: variables.$tablet-width) {
    padding-top: 36px;
    padding-bottom: 87px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 37px;
    padding-bottom: 113px;
    font-size: 53px;
    line-height: 57px;
  }
}

.page-header--index-background-image .page-header__title {
  padding-top: 73px;
  padding-bottom: 120px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 90px;
    padding-bottom: 372px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 93px;
    padding-bottom: 355px;
  }
}

.page-header__menu {
  margin: 0;

  @include base.container;
}
