@use "../global/variables.scss";

.products {
  padding: 0 30px;

  @media (min-width: variables.$tablet-width) {
    padding: 0 50px;
  }
}

.products__list {
  display: grid;
  gap: 33px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    gap: 53px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}
