@use "../global/variables.scss";

.reviews {
  padding: 0 30px 51px;

  @media (min-width: variables.$tablet-width) {
    padding: 82px 50px 132px;
    background-image: url("../img/index/index-review-background-image.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 78px 0 186px 175px;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  font-size: 15px;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: variables.$black;
}

.reviews__author-nickname {
  margin: 0;
  line-height: 20px;
}
