@use "variables.scss";

@mixin container {
  max-width: variables.$max-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  @include visually-hidden;
}

.index-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  color: variables.$black;

  @media (min-width: variables.$tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.inner-subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: variables.$black;
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
  }
}
