/* colors */
$white: #ffffff;
$gray: #f1f1f1;
$gray--dark: #ececec;
$gray--darken: #c6c6c6;
$gray--darkest: #444444;
$black: #000000;

$blue--light: #62d1ba;
$blue: #63d1bb;
$blue--dark: #56c3b2;
$blue--darken: #46c1ae;

/* viewports */
$tablet-width: 768px;
$desktop-width: 1150px;
